html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family: 'Montserrat';
  font-size: 20px;
  background-color: black;
  color: white;
  max-width: 600px;
  margin: auto;
  text-align: center;
  }

section{
  text-align: center;
  padding:25px
  font-size: 18 px
}

header{
  padding:15px
}

p{
  padding: 3px;
  font-size: 16px;
}

h2{
  padding: 15px;
  font-size: 20px;
}

img {
  max-width: 50%;
}

.contact p{
  padding: 3px;
  font-size: 14px;
}