html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background-color: transparent;
  color: rgb(20, 19, 19);
  max-width: 800px;
  margin: auto;
  text-align: center;
  }

section {
  text-align: center;
  font-size: 18px;
  padding: 2rem;
}

.lucieTravels img{
  display: inline;
  max-width: 300px;
  max-height: 150px;
  margin: 1rem;
}

.omne {
  background-color: rgba(238, 238, 241, 0.664);
}

.contact {
  background-color: rgba(238, 238, 241, 0.664);
}

p {
  font-size: 16px;
  color: rgb(20, 19, 19);
}

h2 {
  font-size: 22px;
  color: rgb(20, 19, 19);
}

h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding-top: 2rem;
}

img{
  max-width: 50%;
  margin-bottom: 2rem;
}

a {
  font-size: 14px;
  color: rgb(20, 19, 19);
  font-style: normal;
  font-weight: 300;
}

nav li{
  display: inline;
}

li {
  list-style-type: none;
  color: rgb(20, 19, 19);
  font: 'Roboto';
  font-style: normal;
  font-weight: 900;
}
