html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family: 'Roboto';
  font-size: 20px;
  background-color: black;
  color: white;
  max-width: 600px;
  margin: auto;
  text-align: center;
  }

section{
  text-align: center;
  padding: 15px;
  font-size: 18 px
}

header{
  padding:15px
}

p{
  padding: 2px;
  font-size: 16px;
  color: rgba(226, 226, 226, 0.849)

}

h2{
  padding: 5px;
  font-size: 22px;
  color: rgba(240, 238, 238, 0.973)
}

img {
  max-width: 50%;
}

.contact p{
  padding: 1px;
  font-size: 16px;
  color: rgba(214, 28, 28, 0.61);
}

a {color: whitesmoke;
font-size: 14px;
color: rgba(248, 248, 255, 0.842);}

